<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../template/style/contact.css">
</head>
<body>
    <div id="Contactme">
        <h1>Contact me</h1>
        <p>Email:nakawukasandra8@gmail.com</p>
        <p>(+256)754984597</p>
        <footer>
            <p>&copy;2024 Sandra's page</p>
        </footer>
        
</body>
</html>