<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../template/style/home.css">
</head>
<body>
    <h1>MY HOME PAGE</h1>
    <p>welcome to my web site<br>It's about flask web development</p>
    <button>
        <a href="./about.html">ABOUT ME</a>
    </button>
    ><pre> </pre>
    <button>
        <a href="./contact.html">CONTACT</a>
    </button>
    <pre> </pre>
    <button>

    </button>
</body>
</html>